.card {
    width: 400px;
    height: 150px;
    background: #66bdbd;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.card_main {
    padding: 1rem;
}

.card_title{
    color : white;
}